<div class="row main-title">
	<div class="col l6">
		<img style="height:50px;width:50px;margin-top: 12px;margin-bottom: -13px;" src="/images/logo.png">
		<span class="main-text">OnePush - </span>
		<span style="color:#6fa907;">Finding the best online website</span>
	</div>
	<div class="col l6 side-title">
			We have found {{filteredwebsites.length}} personal web portfolio
	</div>
</div>
<div class="row">
	<div class="search-box">
			<div>
				<i class="material-icons ic-se">search</i>
				<input class="search-text" ng-model="searchText" placeholder="Search (by title, url or tag)">
			</div>
	</div>

	<div class="col l10 list" ng-repeat="website in websites | filter:searchText as filteredwebsites">
					<div class="col l1 padd">
						<!-- image -->
						<img style="height:50px;width:50px;" ng-src="{{website.favicon_image}}">
					</div>
					<div class="col l9 padd">
						<!-- remaining details -->
						<div class= "title">{{website.title}}</div>
						<div class="ico-loc"><i class="material-icons">local_offer</i></div>
						<div class= "tag">{{website.tag}}</div>
						<div class=" bar"></div>
						<div class="ico-lin">
							<i class="material-icons">link</i> 
						</div>
						<div class= "url"><a ng-href="{{website.url_address}}">{{website.url_address}}</a></div>
				</div>
		</div>

</div>