.main-text {
	font-size: xx-large !important;
	color : #05b13c !important;
}

.main-title {
    border: 1px solid !important;
    background-color: #FFF !important;
}


.side-title {
		margin-top: 10px !important;
    border: 2px solid !important;
    border-radius: 6px !important;
    background-color: #f5f5f5 !important;
    width: 300px !important;
    padding: 4px 7px 6px 12px !important;
    border-color: #05b13c !important;
}

.search-box {
	  margin-left: 500px !important;
    width: 500px !important;
    height: 44px !important;
    border: 7px solid !important;
    border-color: #e0e0e0 !important;
}
 .search-text {
 	  width: 452px !important;
    height: 30px !important;
    border: 0px solid !important;
    border-color: white !important;
    /*border-radius: 9px !important;*/
 }

 input:focus {
    outline-width: 0;
}

 .ic-se {
 	float : left !important;
 	color : #bdbdbd !important;
	/*width: 600 !important;*/
 }

.list {
	  margin: 5px 5px 5px 5px !important;
    border: 1px solid !important;
    border-radius: 10px !important;
    background-color: #f5f5f5 !important;
}

.padd {
	margin-top: 10px !important;
}

.ico-loc {
		float : left !important;
		width: 25px !important;
}

.ico-lin {
		float : left !important;
		width: 30px !important;
}


.tag {
	float : left !important;
	width: 100px !important;
}
.bar {
	float : left !important;
	width: 2px !important;
	height: 25px !important;
	background-color: black !important;
	margin-right: 10px !important;
}

.url {
	float : left !important;
	width: 600 !important;
}

.title {
	color : #26a66d !important;
}